html, body{margin: 0; padding: 0;  height: 100%;text-align: center; background-color: #000000;}
section{min-height: 100%;}
a {text-decoration: none!important;}
li{list-style-type: none;}
h1, h2, h3, a{font-family: 'Roboto' , sans-serif; font-weight: 500; color: #494949; text-transform: uppercase;}
h2{color: #5D7177;}
h3{font-size: 40px; padding-top: 5%; margin-bottom: 5px;}
h4, p{font-family: 'Roboto Slab' , serif; color: #494949;}
hr{  width: 30px;  height: 3px;  background: #494949;  border: 0;  margin: 0 auto 40px auto;}
#logo, li, img, .button{transition: all 300ms; -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms;}
/***HEADER*****************************************************************************************/
/*span{
  color: #ffff;
}*/

header{
  width: 100%;
  height: 65px;
  padding-top: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #222222;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/*
.dark-mode {
  background-color: black;
  color: white;
}


/*** DARKMODE BUTTON ***************************************************************************++****/
/*
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 15px 15px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  border-radius: 5px;
}

.btn:after {
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
/*.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 100;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.icon-cog:before {
  content: "\e010";
}

.btn-5 {
	background: #000000;
	color: #fff;
	height: 15px;
  line-height: 3px;
	font-size: 15px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.btn-5 span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.btn-5:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 19;
	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-5b:hover span {
	-webkit-transform: translateX(10%);
	-moz-transform: translateX(200%);
	-ms-transform: translateX(200%);
	transform: translateX(200%);
}

.btn-5b:before {
	left: -100%;
	top: 0;
}

.btn-5b:hover:before {
	left: 0;
}
*/
html {
  scroll-behavior: smooth;
}

.logo{
  width: 240px;
  float: left;
  text-align: center;
  font-weight: bold;
}

.logo:hover{
  opacity: 0.5;
}

.logo h1{
  color: #fff;
  font-size: 35px;
}

header nav{
  float: right;
  margin: 10px 50px 0 0;
}

header nav ul li{
  float: left;
  margin-left: 25px;
}

header nav ul li a{
  font-size: 14px;
  text-decoration: none;
  color: white;
}

header nav ul li:hover{
  padding-top: 3px;
}



/***HOME*****************************************************************************************/

#home {
  background-position: center;
  background-size: cover;
}

#home h1{  
  position: absolute;
  top: 50%;
  transform: translate(-50%, -60%);
  width: 100%;
  color: #606060;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 50%;
  font-size: 100px;
}

#home h2{
  color: #ffff;
  padding-bottom: 10px;
  font-size: 25px;
}

.centered img{
  width: 32px;
  opacity: 0.6;
}

.centered img:hover{
  opacity: 1;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 7%;
}

/***WORK*****************************************************************************************
#work{
    background-color: #CCD1D0;
}

#projekts{
  width: 900px;
  margin: 0 auto 0 auto;
}

#projekts ul{
  padding: 0;
}

#projekts ul li{
  width: 33.3%;
  float: left;
  margin-bottom: 15px;
}

#projekts img{
  width: 280px;
  height: 170px;
  border-radius: 5px;
}

#projekts img:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

/******More Games *******************************************************************************************

#morgames ul{
	padding: 0;
}

#moregames ul li{
	width: 33.3%;
	float: left;
	margin-bottom: 15px;
}

#moregames img{
	width: 280px;
	height: 145px;
	border-radius: 5px;
}

#moregames img:hover{
	transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}


/******RECOMMENDATION*****************************************************************************************/

#recommendation{
  background: url(../rsc/mainBackground.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

#rec ul{
    margin-left: 8%;
    padding: 0;
}

#rec ul li{
  width: 150px;
  float: left;
  margin-left: 2%;
  margin-bottom: 15px;
}

#rec img{
  opacity: 0.8;
  width: 161px;
  height: 510px;
  border-radius: 2px;
}

#rec img:hover{
  opacity: 1;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/***FOOTER*****************************************************************************************/
footer{
  width: 100%;
  height: 70px;
  background-color: #3f3f3f;
}
footer p{
  color: #f0f0f0;
  padding-top: 30px;
  font-size: 12px;

}
footer a{
  text-transform: none;
  color: #f0f0f0;
  padding-left: 10px;
  padding-top: 30px;
  font-size: 12px;
}
