html, body{margin: 0; padding: 0; height: 100%; text-align: center;background: #f0f0f0;}
section{min-height: 100%;}
a {text-decoration: none;}
li{list-style-type: none;}
h1, h2, h3, a{font-family: 'Roboto' , sans-serif; font-weight: 500; color: #f0f0f0; text-transform: uppercase;}
h2{color: #5D7177;}
h3{font-size: 40px; padding-top: 8%; margin-bottom: 5px;}
h4, h5, p{font-family: 'Roboto Slab' , serif; color: #494949;}
hr{  width: 30px;  height: 3px;  background: #494949;  border: 0;  margin: 0 auto 40px auto;}
#logo, li, img, .button{transition: all 300ms; -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms;}
/***HEADER*****************************************************************************************/

header{
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #222222;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

html {
  scroll-behavior: smooth;
}

.logo{
  width: 140px;
  float: left;
  margin: -6px 0  60px 50px;
  font-weight: bold;
}

.logo:hover{
  opacity: 0.5;
}

.logo img{
  width:100%;
}

.logo h1{
	color: white;
}

header nav{
  float: right;
  margin: 10px 50px 0 0;
}

header nav ul li{
  float: left;
  margin-left: 25px;
}

header nav ul li a{
  color: white;
  font-size: 14px;
}

header nav ul li:hover{
  padding-top: 5px;
}

/***HOME1*****************************************************************************************/


#home1 {
  background: url(../rsc/BackgroundRec1.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#home1 h1{
  background-color:rgba(0, 0, 0, 0.5);
  margin: 240px auto 0 auto;
  font-size: 110px;
}

#home1 h2{
  margin: 0 auto 0 auto;
  font-size: 25px;
}

#home1 img{
  width: 32px;
  margin-top: 10%;
  margin-bottom: 15%;
  opacity: 0.7;
}

#home1 img:hover{
  opacity: 1;
}

/***HOME1*****************************************************************************************/

#home2 {
  background: url(../rsc/BackgroundRec2.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#home2 h1{
  background-color:rgba(0, 0, 0, 0.5);
  margin: 240px auto 0 auto;
  font-size: 110px;
}

#home2 h2{
  margin: 0 auto 0 auto;
  font-size: 25px;
}

#home2 img{
  width: 32px;
  margin-top: 10%;
  margin-bottom: 15%;
  opacity: 0.7;
}

#home2 img:hover{
  opacity: 1;
}

/***HOME3*****************************************************************************************/

#home3 {
  background: url(../rsc/recback_3.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#home3 h1{
  background-color:rgba(0, 0, 0, 0.5);
  margin: 240px auto 0 auto;
  font-size: 110px;
}

#home3 h2{
  margin: 0 auto 0 auto;
  font-size: 25px;
}

#home3 img{
  width: 32px;
  margin-top: 10%;
  margin-bottom: 15%;
  opacity: 0.7;
}

#home3 img:hover{
  opacity: 1;
}

/***HOME4*****************************************************************************************/

#home4 {
  background: url(../rsc/recback_4.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#home4 h1{
  background-color:rgba(0, 0, 0, 0.5);
  margin: 240px auto 0 auto;
  font-size: 110px;
}

#home4 h2{
  margin: 0 auto 0 auto;
  font-size: 25px;
}

#home4 img{
  width: 32px;
  margin-top: 10%;
  margin-bottom: 15%;
  opacity: 0.7;
}


#home4 img:hover{
  opacity: 1;
}
/***HOME4*****************************************************************************************/

#home5 {
  background: url(../rsc/recback_5.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#home5 h1{
  background-color:rgba(0, 0, 0, 0.5);
  margin: 240px auto 0 auto;
  font-size: 110px;
}

#home5 h2{
  margin: 0 auto 0 auto;
  font-size: 25px;
}

#home5 img{
  width: 32px;
  margin-top: 10%;
  margin-bottom: 15%;
  opacity: 0.7;
}

#home5 img:hover{
  opacity: 1;
}

#home6 {
  background: url(../rsc/back.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#home6 h1{
  background-color:rgba(0, 0, 0, 0.5);
  margin: 240px auto 0 auto;
  font-size: 110px;
}

#home6 h2{
  margin: 0 auto 0 auto;
  font-size: 25px;
}

#home6 img{
  width: 32px;
  margin-top: 10%;
  margin-bottom: 15%;
  opacity: 0.7;
}

#home6 img:hover{
  opacity: 1;
}
/***WORK*****************************************************************************************/
#work{
  background-color: #f0f0f0;
}

#work h5{
  font-size:80px;
  color:rgba(180, 180, 180, 0.8);
  margin: 100px 650px 75px 0;
}

#projekts{
  width: 900px;
  margin: 0 auto 0 auto;
}

#rec_table{
  text-align: left;
}

#rec_table td{
  margin-left: 100px;
  margin-bottom: 100px;
  width: 40%;
  float: left;
}
/***FOOTER*****************************************************************************************/
footer{
  width: 100%;
  height: 70px;
  background-color: #3f3f3f;
}
footer p{
  font-size: 12px;
  color: #f0f0f0;
  padding-top: 30px;
}

footer a{
  text-transform: none;
  color: #f0f0f0;
  padding-left: 10px;
  padding-top: 30px;
  font-size: 12px;
}


/***MEDIA QUERITIES*****************************************************************************************/
